ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #fdd361;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #672e2e;
    color: white;
    transition: 0.2s ease-in-out;
}

.active2 {
    background-color: #4CAF50;
    color: white;
}

.Titel {
    margin: -230px 230px;
    width: auto;
    height: auto;
    padding-bottom: 50px;
}

.Titel2 {
    margin: -230px 230px;
    width: auto;
    height: auto;
    padding-bottom: 50px;
}

.menu {
    width: 30%;
}

#owl-demo .item {
    margin: 2px;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

#owl-demo2 .item {
    margin: 2px;
}

#owl-demo2 .item img {
    display: block;
    width: 100%;
    height: auto;
}

.unten {
    border: 5px solid black;
    height: 80px;
    width: 100%;
    margin-top: 400px;
}

.kommentar {
    width: 80%;
    margin-top: 300px;
}


/* Style The Dropdown Button */

.dropbtn {
    background-color: #867E0B;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: absolute;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9B9B88;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #1B730A
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #1B730A;
}

.Bildcenter {
    padding-left: 220px;
}